/* Write your CSS here */
.card-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.card-text {
  font-size: 15px;
  color: #64748b;
  font-weight: 400;
}
.button {
  border: 0px;
  background-color: #ffffff;
}
.card-icon {
  height: 22px;
  width: 22px;
  color: #475569;
}
